<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title }} | {{ site.title }}</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cayman/1.0.0/cayman.min.css">
</head>
<body>
  <header>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/docs/dqr.html">PM/运维</a></li>
        <li><a href="/docs/test.html">测试</a></li>
        <li><a href="/docs/frontend.html">前端</a></li>
        <li><a href="/docs/backend.html">后端</a></li>
      </ul>
    </nav>
  </header>
  <main>
    {{ content }}
  </main>
  <footer>
    <p>&copy; 2025 Team Coders007. All rights reserved.</p>
  </footer>
</body>
</html>